In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('../data/trabajo1.csv')
df.head(3)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0

In [29]:
target = df["is_promoted"]
df_data = df.copy()
df_data.drop(columns = ["is_promoted", "employee_id"], inplace = True);

In [30]:
df_data.shape[1]

11

In [31]:
df.shape[1]

13

**Proporción de promociones**

In [35]:
target.value_counts(normalize = True)

0    0.91483
1    0.08517
Name: is_promoted, dtype: float64

No está balanceada. Para ver errores, utilizaremos esta función:

$$ error(y, y_{est}) = \beta * (false positives) + (false negatives) $$

Nos importan $\beta$ veces más los falsos positivos que los falsos negativos. Es decir, predecir que alguien promociona cuando en realidad NO promociona lo consideramos peor que predecir que alguien NO promociona cuando en realidad va a promocionar.

**Encoding variables**

In [37]:
 from sklearn import preprocessing

Department

In [42]:
le = preprocessing.LabelEncoder()
le.fit(df['department'])
department_encoded = le.transform(df['department'])

In [43]:
department_encoded

array([7, 4, 7, ..., 0, 7, 2])

In [ ]:
def encodeCategoricalVariable(variable_to_encode):
    '''
    Encodes a variable from the main df and returns an array with the encoded variables.

            Parameters:
                    variable_to_encode (string): name of the column from main df to encode

            Returns:
                    encoded_variable (array): array with numerical values from encoded column
    '''
    le = preprocessing.LabelEncoder() # Creamos un label encoder
    le.fit(df[variable_to_encode]) 
    department_encoded = le.transform(df[variable_to_encode])

**Separación en test/train**

In [33]:
X_train, X_test, y_train, y_test = train_test_split(df_data,target,test_size = 0.33,random_state = 123) # Random state es para repetir siempre el mismo resultado

In [36]:
df.isna().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
awards_won                 0
avg_training_score      2560
is_promoted                0
dtype: int64