In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
import plotly.figure_factory as ff

from plotly.subplots import make_subplots
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.svm import LinearSVC
from sklearn.metrics import (accuracy_score, confusion_matrix, 
                             mean_squared_error, mean_absolute_error, mean_absolute_percentage_error,
                             silhouette_score, davies_bouldin_score,silhouette_samples)
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE

In [3]:
df = pd.read_csv('../data/trabajo1.csv')
df

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,78.0,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,56.0,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,0,79.0,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,NaN,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,49.0,0

# Are employees promoted by their previous year rating?

AttributeError: Can't get attribute 'new_block' on <module 'pandas.core.internals.blocks' from '/Users/lauramanzanos/opt/anaconda3/lib/python3.8/site-packages/pandas/core/internals/blocks.py'>

# Does the level of education impact on promotions?

# Are the awards won correlated to their education level?

In [1]:
#Awards by education level

In [4]:
education_levels = df['education'].unique()

In [5]:
education_levels

array(["Master's & above", "Bachelor's", nan, 'Below Secondary'],
      dtype=object)

In [7]:
values = (df[df["education"] == "Master's & above"]["awards_won"].value_counts()).values

go.Box(
        y=values,
        name='Premios si tienen master',
        marker_color='green',
        showlegend = False,
         boxpoints = "all"
    )

Box({
    'boxpoints': 'all',
    'marker': {'color': 'green'},
    'name': 'Premios si tienen master',
    'showlegend': False,
    'y': array([14582,   343])
})

In [9]:
plot()

NameError: name 'plot' is not defined