In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [3]:
#df_department = pd.read_pickle('../../data/df_treated_nulls.pkl')
#df_department.head(3)

In [4]:
#df_department

In [5]:
df = pd.read_pickle('df_treated_nulls.pkl')

In [6]:
df

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,78.0,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,56.0,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,0,79.0,0
54806,13614,Sales & Marketing,region_9,NA,m,sourcing,1,29,1.0,2,0,60.0,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,49.0,0

In [7]:
def comparacion_cliente(num_trainings, age, length_service, avg_train_score, awards_won, gender, department, education, recruit_channel):
  return

In [8]:
def comparacion_cliente_prueba(array):
  return

In [9]:
cliente = [2,40,4,60,0,"f","Operations","Bachelor's", "sourcing"]

In [10]:
cliente[6]

'Operations'

In [11]:
#Departamento
df[df['department']==cliente[6]]

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
6,20379,Operations,region_20,Bachelor's,f,other,1,31,3.0,5,0,59.0,0
7,16290,Operations,region_34,Master's & above,m,sourcing,1,33,3.0,6,0,63.0,0
15,43931,Operations,region_7,Bachelor's,m,other,1,37,1.0,10,0,60.0,0
19,54461,Operations,region_15,Bachelor's,m,other,1,37,3.0,9,0,59.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54775,31184,Operations,region_22,Bachelor's,m,other,1,30,1.0,4,0,60.0,0
54780,73767,Operations,region_19,Bachelor's,f,sourcing,1,39,5.0,7,0,60.0,0
54782,17281,Operations,region_2,Below Secondary,m,sourcing,2,26,3.0,2,0,60.0,0
54794,35000,Operations,region_16,Bachelor's,m,other,1,37,4.0,7,0,54.0,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,56.0,0

In [12]:
#Educacion
df[df['education']==cliente[7]]

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,60.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,50.0,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,73.0,0
5,58896,Analytics,region_2,Bachelor's,m,sourcing,2,31,3.0,7,0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54801,12431,Technology,region_26,Bachelor's,f,sourcing,1,31,3.0,1,0,78.0,0
54802,6915,Sales & Marketing,region_14,Bachelor's,m,other,2,31,1.0,2,0,49.0,0
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,78.0,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,0,79.0,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,49.0,0

In [13]:
#Gender
df[df['gender']==cliente[5]]

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
6,20379,Operations,region_20,Bachelor's,f,other,1,31,3.0,5,0,59.0,0
11,49017,Sales & Marketing,region_7,Bachelor's,f,sourcing,1,35,5.0,3,0,50.0,1
22,58789,Finance,region_11,Bachelor's,f,other,1,28,3.0,4,0,63.0,0
32,35465,Sales & Marketing,region_7,NA,f,sourcing,1,24,1.0,2,0,48.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54790,67988,HR,region_2,Bachelor's,f,sourcing,1,48,5.0,4,0,49.0,0
54798,40257,Sales & Marketing,region_2,Master's & above,f,other,2,40,5.0,4,0,51.0,0
54799,68093,Procurement,region_2,Master's & above,f,other,1,50,5.0,6,1,67.0,0
54801,12431,Technology,region_26,Bachelor's,f,sourcing,1,31,3.0,1,0,78.0,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,56.0,0

In [14]:
#Recruitment channel
df[df['recruitment_channel']==cliente[8]]

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,0,49.0,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,50.0,0
5,58896,Analytics,region_2,Bachelor's,m,sourcing,2,31,3.0,7,0,85.0,0
7,16290,Operations,region_34,Master's & above,m,sourcing,1,33,3.0,6,0,63.0,0
9,28911,Sales & Marketing,region_1,Master's & above,m,sourcing,1,32,5.0,5,0,54.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54791,27274,Technology,region_11,Bachelor's,m,sourcing,1,32,1.0,3,0,82.0,0
54797,62450,Sales & Marketing,region_11,Bachelor's,m,sourcing,1,28,5.0,3,1,47.0,0
54801,12431,Technology,region_26,Bachelor's,f,sourcing,1,31,3.0,1,0,78.0,0
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,78.0,0
54806,13614,Sales & Marketing,region_9,NA,m,sourcing,1,29,1.0,2,0,60.0,0